/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/

.front {
	-webkit-backface-visibility: hidden;
}

.back {
	position: relative;
    left: 0px;
    top: -200px;
    z-index: -1;
	-webkit-transform: rotateY(-180deg);
	-webkit-backface-visibility: hidden;
}

.portfolio-item{
	position: relative;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	height: 200px;
}

.portfolio-item:hover{
	-webkit-transform: rotateY(180deg);
}

#portfolio {
	-webkit-perspective: 500px;
	perspective: 500px;
}